{% extends "layout/base.html" %}
{% load i18n %}
{% block body %}
    <div class="card shadow-2xl mt-10" >
        <div class="flex-grow-0 flex-shrink-0 container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-4">
                    {% if messages %}
                        {% for message in messages %}<div class="alert alert-error">{{ message }}</div>{% endfor %}
                    {% endif %}
                    <div class="">
                        <div class="p-5">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}