{% extends "layout/base.html" %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="flex justify-center items-center mt-10">
    <div class="flex flex-col gap-4 rounded-box bg-base-200 p-6 w-96">
        <h1 class="text-3xl font-bold self-center">Log in</h1>
        <a class="btn btn-neutral" href="{% provider_login_url "steam" process="login" %}">Login with Steam</a>
        <a class="btn btn-neutral" href="{% provider_login_url "discord" process="login" %}">Login with Discord</a>
    </div>
</div>
{% endblock content %}