<!DOCTYPE html>
<html lang="pl" x-data="{ theme: $persist(document.documentElement.getAttribute('data-theme') || 'dark') }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>SharkServers</title>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block css %}

    {% endblock css %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="container mx-auto">
    {#    {% include "layout/header.html" %}#}
    {% for message in messages %}
        <div role="alert"
             class="alert {% if message.level_tag == 'warning' %}alert-warning {% elif message.level_tag == 'info' %}alert-info {% elif message.level_tag == 'error' %}alert-error {% elif message.level_tag == 'success' %}alert-success{% endif %} shadow-lg mt-2"
             hx-boost="true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 class="stroke-current shrink-0 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>{{ message|safe }}</span>
        </div>
    {% endfor %}
    {% block body %}
        <nav class="navbar justify-center bg-base-100 shadow-xl">
            <a class="btn btn-ghost text-lg">
                CS2 Battle Bot
            </a>
        </nav>
        {% block content %}
        {% endblock content %}
        <footer class="flex flex-col sm:flex-row gap-8 justify-between p-10 bg-base-100">

            <!-- Brand -->
            <aside>
                <p class="text-3xl flex items-center gap-2">
                    <img alt="Logo" src="/logo.svg" class="inline w-6"/>
                    Company
                </p>
                <small>Copyright © 2024 - All rights reserved</small>
            </aside>

            <!-- Socials -->
            <nav class="flex gap-4">
                <a class="btn btn-ghost btn-sm btn-circle">
                    <i class="fa-brands fa-github text-2xl"></i>
                </a>
                <a class="btn btn-ghost btn-sm btn-circle">
                    <i class="fa-brands fa-twitter text-2xl"></i>
                </a>
                <a class="btn btn-ghost btn-sm btn-circle">
                    <i class="fa-brands fa-facebook text-2xl"></i>
                </a>
                <a class="btn btn-ghost btn-sm btn-circle">
                    <i class="fa-brands fa-youtube text-2xl"></i>
                </a>
            </nav>
        </footer>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}

    {#    {% include "layout/footer.html" %}#}

    {% block js %}

    {% endblock js %}

</div>
</body>
</html>