{% extends "layout/base.html" %}

{% block content %}
<div class="flex flex-col justify-between mx-auto w-full max-w-5xl px-6 py-8">
    <h1 class="text-[28px] leading-[34px] tracking-[-0.416px] text-slate-12 font-bold ">
        {% if not guilds%}

        {% else %}
        {{ selected_guild.name }}
        {% endif %}
    </h1>
    {% if not guilds %}
    <div class="card w-full  bg-base-100 border-base-300 card-border border-base-300">

        <div class="card-body gap-4">
            <div class="card-title">
                <h2 class="text-[20px] leading-[28px] tracking-[-0.2px] text-slate-12 font-bold">
                    {{ _('No servers') }}
                </h2>
            </div>
            <p class="text-slate-11 text-[15px] leading-[24px] tracking-[-0.2px]">
                {{ _('Please invinite bot to discord server') }}
            </p>
            <a href="{{bot_invite_url}}" target="_blank" class="btn btn-primary">
                {{ _('Invinite bot') }}
            </a>
        </div>
    </div>
    {% else %}

    <div class="stats shadow mt-4">
        <div class="stat">
            <div class="stat-figure ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block h-8 w-8 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                    </path>
                </svg>
            </div>
            <div class="stat-title">{{_('Total members')}}</div>
            <div class="stat-value ">{{ selected_guild.members.count }}</div>
        </div>

        <div class="stat">
            <div class="stat-figure">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block h-8 w-8 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                </svg>
            </div>
            <div class="stat-title">{{_('Total matches')}}</div>
            <div class="stat-value ">{{selected_guild.matches.count}}</div>
        </div>

        <div class="stat">
            <div class="stat-figure text-secondary">
                <div class="avatar online">
                    <div class="w-16 rounded-full">
                        <img src="{{selected_guild.members.last.get_avatar }}" />
                    </div>
                </div>
            </div>
            <div class="stat-value">{{selected_guild.members.last.username}}</div>
            <div class="stat-title">{{_('Last join')}}</div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}